.footer {
    background: url('../../images/footer.png') center no-repeat;
    margin-top: 650px;
    width: 1920px;
    height: 623px;
}
.footer__connection {
    margin-left: 407px;
    margin-top: 55px;
}    
.footer__data {
    padding-left: 50px;
    padding-top: 100px;
}
.footer__title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #FFFFFF;
}
.footer__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.footer__number {
    font-family: 'Montserrat';
    font-style: normal; 
    font-weight: 300;
    font-size: 21px;
    line-height: 29px; 
    color: #FFFFFF;
}
.footer__email {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #FFFFFF;
}
.footer__name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-left: 50px;
    color: #FFFFFF;
}
.footer__surname {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    padding-left: 250px;
    color: #FFFFFF;
}