  .hero {
    position: relative;
    background-color: #f9f6f1;
    min-height: 680px;
  }
  
  .hero__row {
    padding-top: 215px;
    display: flex;
    min-height: 680px;
  }
  
  .hero__suptitle {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 66px;
    color: #FFFFFF;
    margin-top: -40px;
    margin-left: 30px;
  }
  .hero__btn {
    padding: 18px 30px;
    margin-top: 45px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: #fff;
    background-color: #005FA3;
    text-decoration: none;
    margin-left: 30px;
  }
  .hero__item {
    position: relative;
  }  
  .hero__product {
    position: absolute;
    top: -244px;
    margin-left: 525px;
    height: 681px;
  }
  .hero__photo {
    position: absolute;
    top: -244px;
    margin-left: 525px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(saintp.jpg);
  }
  .col-6 {
    width: 100%;
  }
  
  .slick-initialized .slick-slide {
    display: flex;
  }
  
  .slick-slide {
    border: none !important;
    outline: none !important;
  }
  
  .slick-arrow {
    display: none !important;
  }
  .hero .slick-dots {
    position: absolute;
    bottom: 111px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
  }
  
  .hero .slick-dots button {
    width: 40px;
    height: 7px;
    font-size: 0;
    background-color: #afafaf;
    border: none;
    outline: none;
    margin-right: 25px;
    cursor: pointer;
  }
  
  .hero .slick-dots .slick-active button {
    background-color: #ffffff;
  }
  