.hero__content {
    height: 670px;
    background: url('../../images/rectangle.png') center no-repeat;
}
.hero__title {
    font-family: 'Merriweather';
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 66px;
margin-left: 405px;
color: #FFFFFF;
padding-top: 140px;
}
.hero__btn {
    font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
text-align: center;
padding-top: 14px;
color: #FFFFFF;
}
.btn__accent {
    position: absolute;
    width: 270px;
    height: 41px;
    left: 405px;
    top: 451px;
    background: #005FA3;
}
.slider {
width: 60px;
height: 60px;
background: #96939379;
opacity: 0.6;
}
.button__box {
    position: absolute;
    left: 1395px;
top: 607px;
}
.to-be-changed {
        transition: all 0s 9999999s;
    }
    span:active ~ .to-be-changed {
        transition: all 0s;
        color: red;
    }
    
   
