.reviews__content {
    margin-left: 405px;
    margin-top: 140px;
}
.reviews__title {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 33px;

color: #BDBDBD;
}
.reviews__subtitle {
    font-family: 'Merriweather';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 69px;
color: #333333;

}.reviews__fon {
    position: absolute;
width: 1110px;
height: 320px;
left: 405px;
top: 3510px;

background: #EBEBEB;
}
.reviews__text {
   position: absolute;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 27px;
margin-left: -300px;
color: #000000;
margin-top: 18px;
}
.reviews__people {
    padding-left: 260px;
    padding-top: 170px;
    position: absolute;
}
.reviews__name {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 45px;
padding-left: 100px;
color: #000000;
margin-top: -74px;
}
.reviews__fast {
    font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
padding-left: 100px;
color: #4F4F4F;
}
.reviews__row {
    display: flex;
    min-height: 680px;
}
.col-6 {
    width: 100%;
  }
  .slick-initialized .slick-slide {
    display: flex;
  }
  .slick-slide {
    border: none !important;
    outline: none !important;
  }
  .slick-arrow {
    display: none !important;
  }
  .reviews .slick-dots {
    position: absolute;
    bottom: 219px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
  }
  .reviews .slick-dots button {
    width: 40px;
    height: 7px;
    font-size: 0;
    background-color: #afafaf;
    border: none;
    outline: none;
    margin-right: 25px;
    cursor: pointer;
  }
  .reviews .slick-dots .slick-active button {
    background-color: #706f6f;
  }